


<div class="createExpense">

    <section class="content container p-0">
        <div class="content-header">
            <h1 class="text-primary-emphasis mb-4">Создание категории расходов</h1>
        </div>
        <div class="create">
            <div class="input-group mb-3 create">
                <input type="text" class="form-control" aria-label="Пример размера поля ввода" placeholder="Название..." aria-describedby="inputGroup-sizing-default" id="create-input">
            </div>
            <button type="button" class="btn btn-success me-1">Создать</button>
            <button type="button" class="btn btn-danger">Отмена</button>
        </div>
    </section>
</div>