


<div class="updateExpense">

  <section class="content container">
    <div class="content-header">
      <h1 class="m-0">Редактирование категории расходов</h1>
    </div>
    <div class="create">
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Жильё</label>
      </div>
      <button type="button" class="btn btn-primary">Сохранить</button>
      <button type="button" class="btn btn-danger">Отмена</button>
    </div>
  </section>
</div>