<div class="login-box my-5">
    <div class="login-logo logo text-center mb-5">
        <img src="../images/logo.svg" alt="logo" class="brand-image">
    </div>
    <div class="card-body card-login text-center">
        <h1 class="login-box-msg text-primary-emphasis mb-4 ">Вход</h1>
        <div id="common-error-login" class="error invalid-feedback text-center mb-3">Неправильный email или пароль</div>
        <form class="form">
            <div class="row form-inputs w-100">
                <div class="input-group col-12 mb-3 p-0">
                    <span class="input-group-text"><i class="bi bi-envelope-open"></i></span>
                    <input type="text" class="form-control" id="email" placeholder="Электронная почта" aria-label="Username"
                           aria-describedby="basic-addon1">
                </div>
                <div class="input-group col-12 mb-3 p-0">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input type="password" class="form-control" id="password" placeholder="Пароль" aria-label="Username"
                           aria-describedby="basic-addon1">
                </div>
                <div class="col-12 mb-3 p-0">
                    <div class="form-check p-0 align-self-start d-flex">
                        <input type="checkbox" id="remember-me" class="me-2">
                        <label for="remember-me">
                            Запомнить меня
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-login">
                <div class="row m-0 mb-2">
                    <button type="button" class="btn btn-primary btn-block mb-2" id="process-button">Войти</button>
                </div>

            </div>
            <div class="sign-up text-start">
                    <span>Еще нет аккаунта? <a href="/sign-up">Пройти регистрацию</a></span>
            </div>
        </form>
    </div>
</div>