<div class="signup-box my-5">
    <div class="signup-logo logo text-center mb-5">
        <img src="../images/logo.svg" alt="logo" class="brand-image">
    </div>
    <div class="card-body card-signup text-center">
        <h2 class="signup-box-msg text-primary-emphasis mb-4">Создайте аккаунт</h2>
        <div id="common-error-signup" class="error invalid-feedback text-center mb-3">Неправильный email или пароль</div>
        <form class="form">
            <div class="row auth w-100">
                <div class="input-group col-12 mb-3 p-0">
                    <span class="input-group-text"><i class="bi bi-envelope-open"></i></span>
                    <input type="text" class="form-control" id="email" placeholder="Электронная почта" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group col-12 mb-3 p-0">
                    <span class="input-group-text"><i class="bi bi-person"></i></span>
                    <input type="text" class="form-control" id="name" placeholder="ФИО" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group col-12 mb-3 p-0">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input type="password" class="form-control" id="password" placeholder="Пароль" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group col-12 mb-3 p-0">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input type="password" class="form-control" id="password-repeat" placeholder="Подтверждение пароля" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="form-signUp">
                <div class="row m-0 mb-2">
                    <button type="button" class="btn btn-primary btn-block" id="process-button">Войти</button>
                </div>
            </div>
            <div class="sign-up text-start">
                    <p>Уже есть аккаунт? <a href="/login">Войдите в систему</a></p>
            </div>
        </form>
    </div>
</div>