


<div class="updateIncome">

    <section class="content container p-0">
        <div class="content-header">
            <h1 class="text-primary-emphasis mb-4">Редактирование категории доходов</h1>
        </div>
        <div class="create">
            <div class="input-group mb-3 create">
                <input type="text" class="form-control" aria-label="Пример размера поля ввода" placeholder="Зарплата" aria-describedby="inputGroup-sizing-default" id="incomeInput">
            </div>
            <button type="button" class="btn btn-success me-1" id="updateButton">Сохранить</button>
            <button type="button" class="btn btn-danger" id="cancelButton">Отмена</button>
        </div>
    </section>
</div>