


<div class="createOperations">

    <section class="content container">
        <div class="content-header">
            <h1 class="m-0">Создание дохода/расхода</h1>
        </div>
        <div class="create">
            <select class="type-select" aria-label="Default select example">
                <option selected>Тип...</option>
                <option value="1">Доход</option>
                <option value="2">Расход</option>
            </select>
            <select class="category-select" aria-label="Default select example">
                <option selected>Категория...</option>
                <option value="1">Еда</option>
                <option value="2">Жильё</option>
            </select>
            <input type="number" class="sum" id="sum-operations" value="sum" required>
            <input type="date" class="sum" id="date-operations" value="date" required>
            <input type="text" class="sum" id="text-operations" value="text" required>
        </div>
        <button type="button" class="btn btn-primary">Создать</button>
        <button type="button" class="btn btn-danger">Отмена</button>
    </section>
</div>